# Data Cleaning Template – Football Dataset

## 1. **Import Libraries & Load Data**

In [ ]:
import pandas as pd
import numpy as np

# Load datasets
df1 = pd.read_csv("England 2 CSV.csv")
df2 = pd.read_csv("England CSV.csv")

## 2. **Initial Inspection**

* View the first few rows to understand the data.
* Check shape (rows × columns).
* Review column names.
* Identify data types.

In [ ]:
df1.head()
df1.shape
df1.columns
df1.info()

## 3. **Check for Missing Values**

* Find columns with NaNs or blanks.
* Decide on filling or removing.

In [ ]:
df1.isnull().sum()

**Action Plan**

* **If numerical:** Fill with median/mean or 0.
* **If categorical:** Fill with mode or `"Unknown"`.
* **If high % missing:** Drop the column.

## 4. **Remove Duplicates**

* Check if any exact duplicate rows exist.

In [ ]:
df1.duplicated().sum()
df1.drop_duplicates(inplace=True)

## 5. **Fix Column Names**

* Remove spaces, make lowercase, use underscores.
* Keep names consistent between datasets.

In [ ]:
df1.columns = df1.columns.str.strip().str.lower().str.replace(" ", "_")
df2.columns = df2.columns.str.strip().str.lower().str.replace(" ", "_")

## 6. **Convert Data Types**

* **Date** → `datetime` format.
* **Numeric stats** → integers or floats.
* **Categorical** → category type.

In [ ]:
df1['date'] = pd.to_datetime(df1['date'], format="%d/%m/%Y")
numeric_cols = ['fth_goals', 'fta_goals', 'h_shots', 'a_shots', 'h_sot', 'a_sot', 
                'h_fouls', 'a_fouls', 'h_corners', 'a_corners', 'h_yellow', 'a_yellow',
                'h_red', 'a_red']
df1[numeric_cols] = df1[numeric_cols].astype(int)

## 7. **Handle Inconsistent Values**

* **Team names:** Ensure consistent spelling (e.g., "Man United" vs "Manchester United").
* **Results:** Standardize to `"H"`, `"A"`, `"D"`.

In [ ]:
df1['home_team'] = df1['home_team'].replace({
    'Man United': 'Manchester United'
})

## 8. **Feature Engineering**

* Create **Goal Difference** = `FTH Goals - FTA Goals`.
* Create **Total Shots** = `H Shots + A Shots`.
* Encode categorical columns for ML.

In [ ]:
df1['goal_diff'] = df1['fth_goals'] - df1['fta_goals']
df1['total_shots'] = df1['h_shots'] + df1['a_shots']
df1 = pd.get_dummies(df1, columns=['ft_result', 'ht_result', 'league'])

## 9. **Merge Datasets** (if applicable)

* Combine `df1` and `df2` for training.

In [ ]:
df = pd.concat([df1, df2], ignore_index=True)

## 10. **Final Checks**

* No NaNs remain.
* All datatypes are correct.
* Ready for EDA or modeling.

In [ ]:
df.info()
df.describe()